@page
@model RatesParsingWeb.Pages.Banks.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить банк?</h1>
<div>
    <h4>Банк</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankModel.SwiftCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankModel.SwiftCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankModel.Currency.TextCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankModel.Currency.TextCode)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BankModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
