@page
@model RatesParsingWeb.Pages.Banks.DetailsModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Банк</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankModel.SwiftCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankModel.SwiftCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankModel.BankUrl)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.BankModel.BankUrl" target="_blank">@Model.BankModel.BankUrl</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankModel.RatesUrl)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.BankModel.RatesUrl" target="_blank">@Model.BankModel.RatesUrl</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankModel.CurrencyModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankModel.CurrencyModel.TextCode) (@Html.DisplayFor(model => model.BankModel.CurrencyModel.Name))
        </dd>
    </dl>
</div>
<div>
    @if (Model.BankModel.ParsingSettingsModel != null)
    {
        <h4>Настройки парсинга</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankModel.ParsingSettingsModel.TextCodeXpath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankModel.ParsingSettingsModel.TextCodeXpath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankModel.ParsingSettingsModel.ExchangeRateXpath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankModel.ParsingSettingsModel.ExchangeRateXpath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankModel.ParsingSettingsModel.UnitXpath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankModel.ParsingSettingsModel.UnitXpath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankModel.ParsingSettingsModel.VariablePartOfXpath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankModel.ParsingSettingsModel.VariablePartOfXpath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankModel.ParsingSettingsModel.StartXpathRow)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankModel.ParsingSettingsModel.StartXpathRow)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankModel.ParsingSettingsModel.EndXpathRow)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankModel.ParsingSettingsModel.EndXpathRow)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankModel.ParsingSettingsModel.NumberDecimalSeparator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankModel.ParsingSettingsModel.NumberDecimalSeparator)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankModel.ParsingSettingsModel.NumberGroupSeparator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankModel.ParsingSettingsModel.NumberGroupSeparator)
            </dd>
        </dl>
    }
    else
    {
        <h4>Настройки парсинга отсутствуют</h4>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BankModel.Id">Редактировать</a> |
    <a asp-page="./Index">Вернуться к списку банков</a>
</div>
