@page
@model RatesParsingWeb.IndexModel

@{
    ViewData["Title"] = "Banks";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.FirstBankObject.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstBankObject.BankUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstBankObject.RatesUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstBankObject.CurrencyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Banks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatesUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName) (@Html.DisplayFor(modelItem => item.CurrencyTextCode))
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
