@page
@model IndexModel

@{
    ViewData["Title"] = "Список банков";
}

<h1>Список банков</h1>

<p>
    <a asp-page="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstBankObject.Name)
            </th>
            <th>
                Списки обменных курсов
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstBankObject.Currency.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BanksModelList)
        {
            <tr>
                <td>
                    <a href="@item.BankUrl" target="_blank">@item.Name</a>
                </td>
                <td>
                    <a asp-page="./ExchangeRateLists/Index" asp-route-id="@item.Id">Курсы</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.TextCode) (@Html.DisplayFor(modelItem => item.Currency.Name))
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

