@page
@model RatesParsingWeb.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bank[0].BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bank[0].BankUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bank[0].RatesUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bank[0].Currency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bank) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatesUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyName) (@Html.DisplayFor(modelItem => item.Currency.TextCode))
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
