@page
@model IndexModel
@{
    ViewData["Title"] = "Обменные курсы валют";
}

<h1>@Model.BankModel.Name</h1>

<h4>Обменные курсы валют на @Model.ExchangeRateListModel.DateTimeStamp.ToShortDateString()</h4>
<a asp-page="/Banks/ExchangeRateLists/Index" asp-route-id="@Model.BankModel.Id">К списку курсов</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstExchangeRateModel.Currency.TextCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstExchangeRateModel.Currency.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstExchangeRateModel.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.FirstExchangeRateModel.ExchangeRateValue)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExchangeRateModels)
        {
            <tr>
                <td>
                    @item.Currency.TextCode
                </td>
                <td>
                    @item.Currency.Name
                </td>
                <td>
                    @item.Unit
                </td>
                <td>
                    @item.ExchangeRateValue
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="/Banks/ExchangeRateLists/Index" asp-route-id="@Model.BankModel.Id">К списку курсов</a>
