@model IEnumerable<RatesParsingWeb.Models.ParsingSettings.CommandAssignmentModel>
<div>*Частичное представление _CommandsTable*</div>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th style="width: 45%">Команда</th>
                <th style="width: 45%">Параметры</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var command in Model)
            {
                <tr>
                    <td>
                        <h6>@command.Command.Name</h6>
                        <div>@command.Command.Description</div>
                    </td>
                    <td>
                        @if (command.CommandParameterValues.Any())
                        {
                            foreach (var parameter in command.CommandParameterValues)
                            {
                                <h6>
                                    @parameter.CommandParameter.Name
                                    <span style="font-weight:400">(@parameter.CommandParameter.Description):</span>
                                    @parameter.Value
                                </h6>
                            }
                        }
                        else
                        {
                            <div>Параметры отсутствуют</div>
                        }
                    </td>
                    <td>
                        <a asp-page="./Commands/Edit" asp-route-id="@command.Id">Редактировать</a> |
                        <a asp-page="./Commands/Details" asp-route-id="@command.Id">Подробнее</a> |
                        <a asp-page="./Commands/Delete" asp-route-id="@command.Id">Удалить</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h6>Команды отсутствуют</h6>
}
