@model IEnumerable<RatesParsingWeb.Models.ParsingSettings.CommandModel>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th style="width: 45%">Команда</th>
                <th style="width: 45%">Параметры</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var command in Model)
            {
                <tr>
                    <td>
                        <h6>@command.Name</h6>
                        <div>@command.Description</div>

                    </td>
                    <td>
                        @if (command.CommandParameters.Any())
                        {
                            foreach (var parameter in command.CommandParameters)
                            {
                                <h6>
                                    @parameter.Name
                                    <span style="font-weight:400">(@parameter.Description):</span>
                                    @parameter.Value
                                </h6>
                            }                            
                        }
                        else
                        {
                            <div>Параметры отсутствуют</div>
                        }
                    </td>
                    <td>
                        @if (command.CommandParameters.Any())
                        {
                            <a asp-page="./Edit" 
                               asp-route-commandId="@command.Id"
                               asp-route-bankId="@ViewData["bankId"]">
                                Параметры
                            </a> @:|
                        }
                        <a asp-page="./Delete" asp-route-commandId="@command.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
