@page
@model IndexModel
@{
    ViewData["Title"] = "Команды";
}

<h1>Команды</h1>
<p>
    <a asp-page="Create">Создать новую</a>
</p>
@if (Model.CommandModels != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstCommandModelObject.Name)</th>
                <th>@Html.DisplayNameFor(model => model.FirstCommandModelObject.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.FirstCommandModelObject.Description)</th>
                <th>@Html.DisplayNameFor(model => model.FirstCommandModelObject.CommandParameters)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CommandModels)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                        @{string parametersResult = "";}
                        @if (item.CommandParameters.Any())
                        {
                            var isFirstIteration = true;
                            foreach (var parameter in item.CommandParameters)
                            {
                                if (!isFirstIteration)
                                    parametersResult += ", ";
                                parametersResult += parameter.Name;
                                if (isFirstIteration)
                                    isFirstIteration = false;
                            }
                        }
                        else
                        {
                            parametersResult = "Отсутствуют";
                        }
                        @parametersResult
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>Команды отсутствуют</div>
}
